node_modules/
.next/
.expo/
.expo-shared/
dist/
build/
coverage/
.env.development.local
.env.test.local
.env.production.local
apps/*/node_modules/
apps/*/.next/
apps/*/.expo/
apps/*/dist/
apps/*/web-build/
apps/*/android/
apps/*/ios/
*.log
.DS_Store

config.bat
